{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Time</th>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
            </tr>
        </thead>
        <tbody>
            {% for row in transactions %}
            <tr>
                <td class="text-start">{{ row["datetime"] }}</td>
                <td class="text-start">{{ row["symbol"] }}</td>
                <td class="text-end">{{ row["shares"] }}</td>
                <td class="text-end">{{ row["price"] | usd}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
